@import url(globals.css);

.contacts-accordion__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
}

.contacts-accordion__title {
    font-family: "Poppins Medium", sans-serif;
    font-size: 17px;
    color: var(--subtitle-text-color);
    font-weight: 700;
}

.contacts-accordion__content {
    font-family: "Poppins Regular", sans-serif;
    font-size: 17px;
    color: var(--contacts-accordion-content-color);
    font-weight: 400;
    transition: all 0.2s linear;
}

.description {
    overflow: hidden;
}

.contacts-accordion__plus-icon {
    width: 17px;
}
