@import url(globals.css);
@import url(header.css);

.contacts-help-section {
    background-color: var(--background-color);
}

/* Main section 
     Header     */


.header-wrapper {
    background-color: var(--background-color);
    padding: 0 24px;
}

.contacts-head {
    background-color: var(--background-saturated-color);
    padding: 40px 0;
}

.contacts-head__title { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 24px;
}

.contacts-head__title h1 {
    color: var(--bright-text-color);
    font-size: 28px;
    margin-bottom: 20px;
}

.contacts-head__title p {
    color: var(--title-text-color);
    font-size: 14px;
    font-family: "Poppins Medium", sans-serif;
    margin-top: 20px;
}

.contacts-head__title a {
    color: var(--button-background-color);
    font-size: 14px;
    font-family: "Poppins Medium", sans-serif;
}

/*Main section
      body    */

.contacts-help-section__background {
    background-color: var(--background-color);
    padding: 90px 0;
}

.contacts-help-section__container {
    display: grid;
    padding: 0 9px;
    grid-template-columns: 1fr;
}

/*Contacts-FAQ section*/

.contacts-help-section__faq {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-color);
    padding: 0 15px;
    text-align: left;
}

.contacts-faq__title h2 {
    font-family: "Rubik Bold", sans-serif;
    color: var(--title-text-color);
    text-align: left;
    font-size: 28px;
    font-weight: 700;
}

.contacts-faq__title p {
    font-family: "Poppins Medium", sans-serif;
    font-size: 19px;
    color: var(--subtitle-text-color);
}

/*Contacts-form section*/

.contacts-help-section__form-container {
    background-color: var(--background-color);
    text-align: center;
    padding: 0 15px;
    margin-top: 50px;
}

.contacts-help-section__wrapper {
    display: flex;
    justify-content:center; 
    align-items: baseline;
    background-color: var(--button-text-color);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 30px 0;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
    background-color: var(--button-text-color);
}

.contacts-form__field { 
    width: fit-content;
    height: fit-content;
}

.contacts-form__input { 
background-color: var(--background-saturated-color);
color: var(--paragraph-text-color);
width: 162px;
height: 40px;
text-overflow: ellipsis;
border: none;
border-radius: 30px;
font-family: "Poppins Regular";
font-size: 15px;
font-weight: 400;
 margin-top: 20px;  
 padding: 11px 22px;
}

.contacts-form__button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 10px;
    border: 1px;
    width: 162px;
    height: 40px;
    border-radius: 30px;
    font-size: 14px;    
    font-family: "Poppins Bold";
    margin-top: 50px;
}

.contacts-form__button:hover{
    background-color: var(--title-text-color);
}

/*Map section*/
.contacts-map {
   position: relative;
}

.contacts-map iframe{ 
    width: 100%;
    min-height: 860px;
    position: relative; 
    z-index: 1; 
}   

.contact-info {
    position: absolute;
    bottom: 5%;
    left: 50%;
    background-color: var(--button-text-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:min-content;
    min-width: 272px;
    min-height: 324px;
    border-radius: 5%;
    z-index: 2;
    transform: translateX(-50%);
}

.contact-info__title h3{
    font-family: "Rubik Bold", sans-serif;
    font-size: 28px;
    color: var(--title-text-color);
}

.contact-info__row {
    font-family: "Poppins Regular";
    font-size: 17px;
    color: var(--paragraph-text-color);
}

.contact-info__row a {
    text-decoration: none;
    color: var(--paragraph-text-color);
}

@media screen and (min-width: 767px) {

    /*Header*/
    .contacts-head__title {
        flex-direction: row;
        justify-content:space-between;
        padding: 0 32px;
    }

    .contacts-head__title h1 {
        font-size: 38px;
    }
    
    .contacts-head__title p {
        display: flex;
        flex-wrap: wrap;
    }

    /*Body*/
    .contacts-help-section__background {
        padding: 105px 0;
    }

    .contacts-help-section__container {
        grid-template-columns: 1fr 1fr;
    }

    /*Contacts-FAQ section*/
    .contacts-faq__title h2{
        font-size: 38px;
    }

    /*Contacts-form section*/
    .contacts-help-section__wrapper {
        border-radius: 40px;
    }

    .contacts-help-section__form-container {
        margin-top: 0;
    }

    .contacts-form__input {
        width: 197px;
    }

    .contacts-form__button {
        width: 197px;
    }

    .contact-info__title h3 {
        font-size: 38px;
    }
}


