@import url(globals.css);

.faq {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 120px;
    min-width: 320px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1;
}

.questions {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    width: 400px;
}

.questions__title {
    display: block;
    color: var(--title-text-color);
    font-family: Rubik Bold, sans-serif;
    font-size: 38px;
    text-align: left;
    text-transform: none;
    padding: 20px;
}

.questions__text {
    display: block;
    color: var(--subtitle-text-color);
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 19px;
    text-align: left;
    text-transform: none;
    padding: 20px;
}

.faq-accordion__list {
    list-style: none;
}

.faq-accordion__item {
    display: block;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.faq-accordion__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    white-space: nowrap;
    padding: 20px, 0;
}

.faq-picture {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    width: 400px;
}

.faq-accordion__button {
    box-sizing: border-box;
    color: var(--subtitle-text-color);
    font-family: "Poppins Medium", sans-serif;
    font-size: 17px;
}

.faq-accordion__content {
    font-family: "Poppins Regular", sans-serif;
    font-size: 17px;
    color:var(--contacts-accordion-content-color);
}

.faq-accordion__icon {
    font-size: 17px;
    margin-left: 20px;
    max-width: 15px;
    text-align: left;
    position: relative;
}