@font-face {
    font-family: "Rubik Bold";
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: "Rubik SemiBold";
    src: url(../fonts/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: "Rubik Regular";
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Poppins Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEF6ED;
}

:root {
    --background-color: rgb(255, 246, 237);
    --saturated-background-color: rgb(251, 241, 231);
    --title-text-color: rgb(4, 15, 115);
    --subtitle-text-color: rgb(66, 72, 117);
    --link-text-color: rgb(45, 53, 121);
    --paragraph-text-color: rgb(106, 110, 143);
    --bright-text-color: rgb(255, 91, 46);
    --light-button-color: rgb(251, 237, 223);
    --button-color: rgb(255, 91, 46);
    scroll-behavior: smooth;
    font-family: "Poppins Regular";
}

img {
    display: block;
    width: 100%;
}

h1, 
h2 {
    font-family: "Rubik Bold";
}
