.header {
    max-width: 1200px;
    margin: 0 auto;
}

.header__background-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(../img/header-background-image.png);
    background-size: cover;
    height: 775px;
    background-position: 44.7% center;
}

.header__top {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-logo {
    width: 168px;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__link {
    text-decoration: none;
    margin: 0 20px;
    color: rgb(106, 110, 143);
    font-weight: 500;
    font-size: 15px;
}

.header__top-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
    margin-right: -2.5px;
    margin-left: -2.5px;
}

.header__top-icons-link {
    text-decoration: none;
    fill: #ff5b2e;
    margin-right: 2.5px;
    margin-left: 2.5px;
    height: 32px;
}

.icon {
    width: 28px;
    height: 28px;
}

