.team__info {
    text-align: center;
}

.team__title,
.team__description {
    margin: 0; 
}

.team__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team__member {
    text-align: center;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

@media (min-width: 768px) {
    .team__member {
        width: 48%; 
    }
}

@media (min-width: 1024px) {
    .team__member {
        width: 30%; 
    }
}
