.responses {
    display: flex;
    flex-direction: column
    /*padding: 50px 0px 60px; */
}
.responses__cap {
    padding: auto 15px;
}


@media (min-width: 375px) /*and (max-width: 991px) */
    .responses{
    }
    .responses__title {
        display: flex;
        color: var(--title-text-color);
        font-family: "Rubik Bold", sans-serif;
        font-size: 28px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .responses__message {
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        color: var(--subtitle-text-color);
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .responses__all-feedbacks {
        display: grid;
        grid-template-columns: 1fr;
    }
    .responses__item {
        max-width: 369.98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 15px;
        background-color: var(--background-saturated-color);
        text-align: center;
    }

    .responses__img-animal {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70px;
    }

    .responses__subtitle {
        font-family: 'Rubik Bold' sans-serif;
        font-size: 22px;
    }
    .responses__underline {
        shape-rendering: geometricPrecision;
    }

@media (min-width: 768px) and (max-width: 991px)
    .responses{  
    }
    .responses__title {
        display: flex;
        color: var(--title-text-color);
        font-family: "Rubik Bold", sans-serif;
        font-size: 38px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }
    
    .responses__message {
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        color: var(--subtitle-text-color);
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    
    .responses__all-feedbacks {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .responses__item {
        max-width: 369.98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 15px;
        background-color: var(--background-saturated-color);
        text-align: center;
    }
    
    .responses__img-animal {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 120px;
        height: 120px;
    }
    
    .responses__subtitle {
        font-family: 'Rubik Bold' sans-serif;
        font-size: 23px;
    }
    .responses__underline {
        shape-rendering: geometricPrecision;
    }

@media (min-width: 992px)
    .responses{
    }
    .responses__title {
        display: flex;
        color: var(--title-text-color);
        font-family: "Rubik Bold", sans-serif;
        font-size: 42px;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .responses__message {
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 19px;
        color: var(--subtitle-text-color);
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    .responses__all-feedbacks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .responses__item {
        max-width: 369.98px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 15px;
        background-color: var(--background-saturated-color);
        text-align: center;
    }

    .responses__img-animal {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 120px;
        height: 120px;
    }

    .responses__subtitle {
        font-family: 'Rubik Bold' sans-serif;
        font-size: 24px;
    }
    .responses__underline {
        shape-rendering: geometricPrecision;
    }