@import url(globals.css);
@import url(header.css);

/* MAIN */
/* Title section */

.services {
    background-color: var(--background-saturated-color);
    padding: 40px 0;
}

.services__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 24px;
}

.services__title h1 {
    color: var(--bright-text-color);
    font-size: 28px;
    line-height: 36.4px;
    padding-right: 20px;
}

.services__title p {
    color: var(--title-text-color);
    font-family: "Poppins Medium";
    font-size: 14px;
    line-height: 18.6662px;
    margin-top: 50px;
}

.services__title p a {
    color: var(--bright-text-color);
}

/* Items section */

.our-services {
    padding: 110px 0 60px;
}

.our-services__title {
    text-align: center;
    padding: 0 24px;
}

.our-services__title h2 {
    color: var(--title-text-color);
    font-size: 28px;
    line-height: 36.4px;
    margin-bottom: 30px;
}

.our-services__title p {
    color: var(--subtitle-text-color);
    font-family: "Poppins Medium";
    font-size: 19px;
    line-height: 28.5px;
    margin-bottom: 45px;
}

.our-services__items {
    padding: 0 24px;
}

.our-services__item {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
}

.our-services__img img {
    height: 100%;
    object-fit: cover;
}

.our-services__img-parrot {
    object-position: 26.752% 52.452%;
}

.our-services__text {
    background-color: var(--background-saturated-color);
    padding: 39px 43px;
}

.our-services__text-price {
    color: var(--bright-text-color);
    font-family: "Poppins SemiBold";
    font-size: 13px;
    line-height: 18.5705px;
}

.our-services__text-title {
    color: var(--title-text-color);
    font-family: "Rubik SemiBold";
    font-size: 24px;
    line-height: 34.284px;
}

.our-services__text-description {
    color: var(--paragraph-text-color);
    font-size: 17px;
    line-height: 25.5px;
}

.our-services__text-list {
    color: var(--subtitle-text-color);
    font-size: 17px;
    line-height: 25.5px;
    list-style-type: none;
    padding: 0;
}

.our-services__text-list li {
    padding-left: 30px; 
    background-image: url("../img/icon-for-li.svg");
    background-size: 20px 24px;
    background-position: left top;
    background-repeat: no-repeat;
}

.our-services__text > :not(:last-child) {
    margin-bottom: 20px;
}

.our-services__text-list li:not(:last-of-type) {
    margin-bottom: 20px;
}

.our-services__text-button {
    display: inline-block;
    padding: 16px 28px;
    text-decoration: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 25px;
    border: none;
    font-family: "Poppins Bold";
    font-size: 15.4px;
    line-height: 18.48px;
}

.our-services__text-button:hover {
    background-color: var(--button-hover-color);
}

.our-services__text-button:active {
    background-color: var(--button-background-color);
}


/* MEDIA */

@media (min-width: 493px) {

    .services__title p {
        margin-top: 0;
    }
}

@media (min-width: 768px) {

    .services__title,
    .our-services__title,
    .our-services__items {
        padding: 0 32px;
    }

    .services__title h1 {
        font-size: 38px;
        line-height: 49.4px;
    }

    .our-services__title h2 {
        font-size: 38px;
        line-height: 49.4px;
    }

    .our-services__item {
        grid-template-columns: 1fr 1fr;
    }

    .reverse .our-services__text {
        grid-column: 1;
        grid-row: 1;
    }
    
    .reverse .our-services__img {
        grid-column: 2;
        grid-row: 1;
    }

    .our-services__text {
        padding: 46px 52px;
    }

    .our-services__img,
    .our-services__text {
        min-height: 488.31px;
    }
}

@media (min-width: 992px) {

    .services__title,
    .our-services__title,
    .our-services__items {
        padding: 0 40px;
    }

    .services__title h1 {
        font-size: 42px;
        line-height: 54.6px;
    }
    
    .services__title p {
        font-size: 15px;
        line-height: 20px;
    }

    .our-services__title h2 {
        font-size: 42px;
        line-height: 54.6px;
    }

    .our-services__text {
        padding: 60px 70px;
    }
}

@media (min-width: 1280px) {

    .services__title,
    .our-services__title,
    .our-services__items {
        padding: 0 15px;
    }

    .services__title p {
        padding-right: 30px;
    }

    .our-services__img,
    .our-services__text {
        max-height: 496.312px;
    }
}
