@import url(globals.css);
@import url(header.css);

.container {
    background-color: var(--background-color); 
}

/* MAIN */
/* Title section */

.services {
    display: flex;
    justify-content: center;
    background-color: var(--background-saturated-color);
    padding: 40px 0;
}

.services__title {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    margin: 0 44px;
}

.services__title h1 {
    color: var(--bright-text-color);
    font-size: 42px;
    line-height: 54.6px;
}

.services__title p {
    color: var(--title-text-color);
    font-family: "Poppins Medium";
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
}

.services__title p a {
    color: var(--bright-text-color);
}

/* Items section */

.our-services {
    display: flex;
    justify-content: center;
    padding: 110px 0 60px;
}

.our-services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 44px;
}

.our-services__title {
    text-align: center;
}

.our-services__title h2 {
    color: var(--title-text-color);
    font-size: 42px;
    line-height: 54.6px;
    margin-bottom: 30px;
}

.our-services__title p {
    color: var(--subtitle-text-color);
    font-family: "Poppins Medium";
    font-size: 19px;
    line-height: 28.5px;
    margin-bottom: 40px;
}

.our-services__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.reverse {
    flex-direction: row-reverse;
}

.our-services__img,
.our-services__text {
    height: 488.31px;
    width: 585px;
}

.our-services__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-services__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-saturated-color);
    padding: 60px 70px;
}

.our-services__text-price {
    color: var(--bright-text-color);
    font-family: "Poppins SemiBold";
    font-size: 13px;
    line-height: 18.5705px;
}

.our-services__text-title {
    color: var(--title-text-color);
    font-family: "Rubik SemiBold";
    font-size: 24px;
    line-height: 34.284px;
}

.our-services__text-description {
    color: var(--paragraph-text-color);
    font-size: 17px;
    line-height: 25.5px;
}

.our-services__text-list {
    color: var(--subtitle-text-color);
    font-size: 17px;
    line-height: 25.5px;
    list-style-type: none;
    padding: 0;
}

.our-services__text-list li {
    padding-left: 30px; 
    background-image: url("../img/icon-for-li.svg");
    background-size: 20px 24px;
    background-position: left center;
    background-repeat: no-repeat;
}

.our-services__text-list li:not(:last-of-type) {
    margin-bottom: 16px;
}

.our-services__text-button {
    display: inline-block;
    padding: 16px 28px;
    text-decoration: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 25px;
    border: none;
    font-family: "Poppins Bold";
    font-size: 15.4px;
    line-height: 18.48px;
    width: 143.56px; 
}

.our-services__text-button:hover {
    background-color: var(--button-hover-color);
}

.our-services__text-button:active {
    background-color: var(--button-background-color);
}