@import url(globals.css);

.faq {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 320px;
    position: relative;
    z-index: 1;
}

.questions__title {
    display: block;
    color: var(--subtitle-text-color);
    font-family: Rubik, sans-serif;
    font-size: 38px;
    text-align: left;
    text-transform: none;

}

.questions {
    display: flex;
    background-color: var(--background-color);
    padding: 0 15px;
    text-align: left;
    vertical-align: baseline;
    width: 400px;
    height: 600px;
}

.faq-picture {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    width: 400px;
    height: 600px;
}

faq-accordion__icon {
    font-size: 17px;
    height: auto;
    margin-left: 20px;
    max-width: 15px;
    text-align: left;
    position: relative;
}